* {
  font-family: "Bebas Neue", sans-serif;
}

h2,
p {
  text-align: center;
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.logo-objetTemoinContainer {
  align-items: center;
}

.logo-objetTemoin {
  width: 7rem;
  display: block;
  margin: auto;
}

hr {
  height: 2px;
  background-color: #7f253e;
  border: none;
}
