.author-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  position: relative;
  overflow: hidden;

  .author-image {
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hexa1 {
    min-width: 15rem;
    min-height: 10rem;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);

    filter: drop-shadow(6px 4px 2px rgba(50, 50, 0, 0.6));

    .hexared {
      display: flex;
      justify-content: center;
      align-items: center;

      clip-path: polygon(
        27.5% 5%,
        72.5% 5%,
        97.5% 50%,
        72.5% 95%,
        27.5% 95%,
        2.5% 50%
      );

      &:nth-child(2) {
        position: relative;
        left: 10px;
      }

      &:nth-child(1) {
        grid-area: 1 / 1 / span 4 / span 4;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          165deg,
          rgba(255, 255, 255, 0.6111694677871149) 0%,
          rgba(127, 37, 62, 0.8044467787114846) 50%,
          rgba(127, 37, 62, 0.8044467787114846) 100%
        );
      }

      &:nth-child(2) {
        grid-area: 3 / 4 / span 4 / span 4;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          165deg,
          rgba(255, 255, 255, 0.6111694677871149) 0%,
          rgba(127, 37, 62, 0.8044467787114846) 50%,
          rgba(127, 37, 62, 0.8044467787114846) 100%
        );
      }

      &:nth-child(3) {
        grid-area: 1 / 8 / span 4 / span 4;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          165deg,
          rgba(255, 255, 255, 0.6111694677871149) 0%,
          rgba(127, 37, 62, 0.8044467787114846) 50%,
          rgba(127, 37, 62, 0.8044467787114846) 100%
        );
      }
    }
  }

  .description {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.author-biography {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.author-font-family {
  font-size: 24px;
  font-family: "Bebas Neue";
  margin-bottom: 3rem;
}

.author-bio-p {
  font-size: 1rem;
  color: #050505;
  max-width: 100%;
  position: relative;
  flex: 1 1 0%;
  padding: 1.5%;
}
.hexagone {
  position: absolute;
  bottom: -90px;
  right: -54px;
  width: 200px;
  height: 200px;
  transform: rotate(43deg);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: linear-gradient(
    90deg,
    rgba(127, 37, 62, 1) 0%,
    rgba(127, 37, 62, 0.3505996148459384) 100%
  );
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .author-container {
    display: flex;

    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .description {
    min-height: 100vh;
  }

  .author-image {
    min-width: 35%;
    margin-left: 3rem;

    .hexa1 {
      min-width: 15rem;
      min-height: 10rem;
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(6, 1fr);
      margin-top: 1rem;

      filter: drop-shadow(6px 4px 2px rgba(50, 50, 0, 0.6));

      .hexared {
        display: flex;
        justify-content: center;
        align-items: center;

        clip-path: polygon(
          27.5% 5%,
          72.5% 5%,
          97.5% 50%,
          72.5% 95%,
          27.5% 95%,
          2.5% 50%
        );

        &:nth-child(2) {
          position: relative;
          left: 10px;
        }

        &:nth-child(1) {
          grid-area: 1 / 1 / span 4 / span 4;
          background: rgb(255, 255, 255);
          background: linear-gradient(
            165deg,
            rgba(255, 255, 255, 0.6111694677871149) 0%,
            rgba(127, 37, 62, 0.8044467787114846) 50%,
            rgba(127, 37, 62, 0.8044467787114846) 100%
          );
        }

        &:nth-child(2) {
          grid-area: 3 / 4 / span 4 / span 4;
          background: rgb(255, 255, 255);
          background: linear-gradient(
            165deg,
            rgba(255, 255, 255, 0.6111694677871149) 0%,
            rgba(127, 37, 62, 0.8044467787114846) 50%,
            rgba(127, 37, 62, 0.8044467787114846) 100%
          );
        }

        &:nth-child(3) {
          grid-area: 1 / 8 / span 4 / span 4;
          background: rgb(255, 255, 255);
          background: linear-gradient(
            165deg,
            rgba(255, 255, 255, 0.6111694677871149) 0%,
            rgba(127, 37, 62, 0.8044467787114846) 50%,
            rgba(127, 37, 62, 0.8044467787114846) 100%
          );
        }
      }
    }
  }
  .author-pic {
    object-fit: cover;
  }

  .author-biography {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    h2 {
      font-size: 24px;

      justify-content: center;
      align-items: center;
    }

    p {
      font-size: 1rem;
      color: #050505;

      column-count: 2;
      gap: 3rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .author-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    position: relative;
    overflow: hidden;
  }
  .author-image {
    min-width: 25%;
    margin-left: 3rem;
  }
}
