.header-big-container {
  height: 48px;
  border-bottom: 2px solid #000000;
  margin-bottom: 24px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;

  .ruby-background {
    filter: drop-shadow(0px 2px #000000);
    height: 24px;
    width: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    bottom: 0;

    &::after {
      content: "";
      display: block;
      height: 100%;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
      background-color: white;
    }
  }

  .ruby {
    height: 50px;
    position: absolute;
    left: 50%;
    top: 6px;
    transform: translateX(-50%);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo-AFAC {
      max-height: 42px;
    }

    .icone-burger {
      cursor: pointer;
      margin-right: 3%;
      max-height: 10vw;
      max-width: 10vw;
      font-size: 5vh;
    }
  }
}

.nav-menu {
  position: relative;
  margin-top: calc(-72px + 48px);
  z-index: 1;
  background-color: rgba(234, 234, 234, 0.7);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px 8px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-menu-items {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header-big-container {
    height: 117px;
    margin-bottom: 28px;

    .ruby-background {
      height: 28px;
      width: 120px;
    }

    .ruby {
      height: 98px;
      top: 18px;
    }

    .header-container {
      height: 78%;

      .logo-AFAC {
        max-height: 109px;
      }

      .icone-burger {
        max-height: 15vw;
        max-width: 15vw;
      }
    }
  }

  .nav-menu {
    margin-top: calc(-150px + 117px);
  }
}
