.header-big-container {
  height: 72px;
  filter: drop-shadow(0px 2px #000000);
  position: relative;
  z-index: 2;

  .header-background {
    width: 100%;
    height: 72px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    clip-path: polygon(
      0 0,
      0 62%,
      calc(50% - 40px) 62%,
      50% 100%,
      calc(50% + 40px) 62%,
      100% 62%,
      100% 0
    );

    .ruby {
      width: 42px;
      height: 50px;
      margin-top: 6px;
      background: #7f253e;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    .logo-AFAC {
      max-height: 42px;
    }

    .burger-menu {
      cursor: pointer;
      margin-right: 1%;
      width: auto;
      height: auto;
    }

    .icone-burger {
      max-height: 42px;
      max-width: 42px;
      font-size: 5vh;
    }
  }
}

.nav-menu {
  position: relative;
  margin-top: calc(-72px + 47px);
  z-index: 1;
  background-color: rgba(234, 234, 234, 0.7);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px 8px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-menu-items {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 120px;
  }
}
