.image-container {
  position: relative;
  // display: inline-block;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}
.image-container figcaption {
  width: 100%;
  position: absolute;
  background-color: #74658ad5;
  color: white;
  padding: 5px 10px;
  transition: visibility 0s, opacity 0.5s;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}
.image-container figcaption .link {
  color: #ffffff;
}
img {
  max-width: 100%;
  display: block;
}
.visage {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 30px;
  break-inside: avoid;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

.container {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  column-count: 1;
  column-gap: 30px;
}

.CatégorieContainer {
  margin-left: 3rem;
}

#ArtCat {
  width: 120px;
  height: 30px;
  box-shadow: 1px 1px 2px #999;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;
  font-size: medium;
}

@media screen and (min-width: 768px) {
  .container {
    column-count: 2;
  }
}
@media screen and (min-width: 1024px) {
  .image-container {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .image-container figcaption {
    visibility: hidden;
    opacity: 0;
  }
  .image-container:hover figcaption {
    display: flex;
    justify-content: space-between;
    visibility: visible;
    opacity: 1;
    bottom: 0;
  }
  .container {
    column-count: 3;
  }
}
@media screen and (min-width: 1224px) {
  .container {
    column-count: 4;
  }
}
@media screen and (min-width: 1824px) {
  .container {
    column-count: 5;
  }
}
