.visage {
  display: grid;
  grid-template-rows: 1fr auto;
  break-inside: avoid;
  margin-bottom: 15%;

  .icon-gallery-page-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    margin-bottom: 0.25rem;

    .icon-gallery-page {
      font-size: 25px;
      height: 20px;
      width: 20px;
      margin-top: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .icon-gallery-page:hover {
      scale: 1.4;
    }

    a.icon-gallery-page {
      margin-top: -8px;
      margin-right: 8px;
      color: #bc7c61;
    }
  }

  .image-container {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));

    figcaption {
      width: 100%;
      position: absolute;
      background-color: #74658ad5;
      color: white;
      padding: 5px 10px;
      transition: visibility 0s, opacity 0.5s;
      display: flex;
      justify-content: space-between;

      .link {
        color: #ffffff;
      }
    }

    .only-link {
      justify-content: end;
    }
  }
}

img.gallery-image {
  width: 100%;
  display: block;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

.gallery-big-container {
  padding: 5%;
  padding-top: 20px;

  .container {
    column-count: 1;
    column-gap: 30px;
  }

  #ArtCat {
    cursor: pointer;
    padding: 2px;
    margin-bottom: 30px;
    border: 5px double #bc7c61;
    text-decoration: none;
    font-family: "Bebas Neue";
    background: none;
    color: #bc7c61;

    width: 120px;
    height: 2.5rem;
    font-size: large;
  }
}

@media screen and (min-width: 768px) {
  .gallery-big-container {
    .container {
      column-count: 2;
    }
  }
}

@media screen and (min-width: 1024px) {
  .gallery-big-container {
    .container {
      column-count: 3;

      .image-container {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;

        figcaption {
          bottom: -100%;
          transition: bottom 0s ease-in-out;
        }

        &:hover figcaption.only-link {
          bottom: 0;
          transition: bottom 0.3s ease-in-out;
        }

        &:hover figcaption {
          bottom: 0;
          transition: bottom 0.3s ease-in-out;
        }
      }
    }
  }
}

@media screen and (min-width: 1224px) {
  .gallery-big-container {
    .container {
      column-count: 4;
    }
  }
}

@media screen and (min-width: 1824px) {
  .gallery-big-container {
    .container {
      column-count: 5;
    }
  }
}
