.main {
  hr {
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 1px;
    margin: auto;
    background-color: #bc7c61;
  }

  .synopsis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;

    h1 {
      margin-bottom: 30px;
      font-family: "Bebas Neue";
    }

    p {
      font-size: 20px;
      font-family: "Bebas Neue";
    }
  }
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
